<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> MY TOWN GWALIOR </title>
  <link href="resources/css/about.css" rel="stylesheet">
 
  <!-- Adding incliude page-->
 <%- include ("./include/inc-top") %>
 
 <!-- Custom styles for this template -->
<link href="/resources/css/myTown.css" rel="stylesheet">
  </head>

<body>
    <%- include ("./include/inc-nav") %><br><br>
<div class="aboutus-section ">
  <div class="container shadow-lg p-3 mb-1 bg-white">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title">About Us</h2>
                  <p class="aboutus-text">Gwalior is a major city in the Indian state of Madhya Pradesh. It is located 122 kilometers 176 m) south of Agra, and 423 kilometers (263 mi) north of Bhopal the state capital. </p>
                  <p class="aboutus-text">
                    People will get information from the website of this website that hospitals, education, tourism,
                    Our team has done the work of providing this information, so we have given it the form of an informative website.</p>
                 
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus-banner">
                  <img src="./resources/img/logoabout.jpg" alt="">
              </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature">
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Work with heart</h4>
                              <p>
                                "Our team has worked with a lot of hard work and dedication and I would like to thank our team from the bottom of my heart".</p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Great support</h4>
                              <p>
                                We got support from our team, we worked together and took the help of Google sources.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<%- include ("./include/inc-footer") %>
</body>
</html>
