

    <header>
        <div class="header-content">
            <h1 class="title">Welcome To Gwalior</h1>
            <div class="line"></div>
            <h1 class="title">DO COME & VISIT</h1>
    
            
        </div>
    </header>

    
    <div class="ocean">
        <div class="wave"></div>
      </div>

  
    <section >
        <div class="content-col">
         <h2 class="text-color">HISTORY & ARCHITECTURE</h2>
         <div class="line"></div>
        </div>
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
             <img src="./resources/img/gwl.png"  class=" img-fluid rounded mx-auto d-block" width="280" height="2080" >
             <p class="line-hgt mt-4">
                 Gwalior was once not only the capital of Scindias but is also a historically rich and one of the most popular cities of Madhya Pradesh. Gwalior has always been loved and visited by tourists for their stunning forts and intricate palaces that were at some point ruled by rulers of different era like the Mughals and in fact even the Tomars. The city was first ruled by them before it was seized by the Scindias. Gwalior are been popularly called as the Fort City and the city stands true to its name. When you visit Gwalior, you will also agree. Located at 122 km from Agra, Gwalior is also flanked by one of the biggest commercial and industrial zones and because it is also one of the largest city of Central India, Gwalior is today one of the biggest tourist attractions of Madhya Pradesh. And apart from all this, Gwalior was also one among the five princely states that got the honor of 21 gun salute during the British rule. 
                 </p>
              
            </div>
        </section>
     


    
    <section class="container-fluid shadow p-5 mb-5 bg-body-tertiary rounded" >

        <div class="content-col ">
            <h2 class="text-color">ANCIENT TOURS & DESTINATIONE</h2>
            <div class="line"></div>
           </div>

          
           <div class="row">
            <div class="col-6">
                <p class="line-hgt mt-4">Gwalior is a very beautiful city located in the Indian state of Madhya Pradesh; it stands as the business city of Madhya Pradesh. With numerous folklore's, monuments, temples it occupies an important place in the history of Madhya Pradesh and India. Monuments are the main tourism attractions across India and Gwalior is no different ! It has many ancient and modern monuments and other attractions that are worth seeing. Along with all these forts, tombs and memorials, it is home to the Scindhias- a royal dynasty of Central India. 
                    While traveling to Madhya Pradesh one should never miss to travel to 
                    Gwalior which has everything to attract tourists and visitors coming from abroad.</p>
            </div>
            <div class="col-6 ">
                <div class="row ">
                    <div class="col-12 d-flex justify-content-md-center">
                        <img src="resources/img/Gopachal.jpg" alt=""width="300" height="200">
                        <img src="resources/img/Gwalior fort.jpg" alt="" width="300" height="200">
                        </div>
                        <div class="col-12 d-flex justify-content-md-center">
                            <img src="resources/img/Gujari Mahal.jpg" alt="" width="300" height="200">
                        <img src="resources/img/Jai Vilas Palace.JPG" alt="" width="300" height="200">
                            </div>
                        </div>
            </div>
           
          </div>
        
          
  
    </section>

    

  
<!--   

    <div class="row">
        <div class="content-col">
            <h2 class="text-color">ANCIENT TOURS & DESTINATION</h2>
            <div class="line"></div>
            <p>Gwalior is a very beautiful city located in the Indian state of Madhya Pradesh; it stands as the business city of Madhya Pradesh. With numerous folklore's, monuments, temples it occupies an important place in the history of Madhya Pradesh and India. Monuments are the main tourism attractions across India and Gwalior is no different ! It has many ancient and modern monuments and other attractions that are worth seeing. Along with all these forts, tombs and memorials, it is home to the Scindhias- a royal dynasty of Central India. 
            While traveling to Madhya Pradesh one should never miss to travel to 
            Gwalior which has everything to attract tourists and visitors coming from abroad.</p>
       
        </div>
        <div class="">
            <div class="">
                <img src="resources/img/Gopachal.jpg" alt="">
                <img src="resources/img/Gwalior fort.jpg" alt="">
                <img src="resources/img/Gujari Mahal.jpg" alt="">
                <img src="resources/img/Jai Vilas Palace.JPG" alt="">
            </div>
        </div>
    </div> -->