<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MY TOWN GWALIOR</title>
    <!-- Adding incliude page -->
   
    <%- include ("./include/inc-top") %>

  </head>

  <body >
   
    <!-- Navigation -->

    <%- include ("./include/inc-nav") %>
    
    <!-- Home Page -->

    <%- include ("./homePage") %>

    <!-- Footer -->
   
    <%- include ("./include/inc-footer") %>

 
  </body>

</html>
