<!DOCTYPE html>
<html lang="en">

<head>

    <title> Dashboard</title>
     <!-- Adding incliude page -->

     <%- include ("./include/db-top") %>


     
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include ("./include/db-sidebar") %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include ("./include/db-header") %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                     
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                       

                       

                    </div>

                    <!-- Content Row -->


                  

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include ("./include/db-footer") %>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->






</body>

</html>

