<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> MY TOWN GWALIOR </title>
    <!-- Adding incliude page-->
    <%- include ("../include/inc-top") %>

  </head>

<body>
    <%- include ("../include/inc-nav") %><br><br><br><br><br>
    <div style="width: 100%; position: relative; height: 40vh; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(../resources/img/hospital_img.jpg); background-repeat: no-repeat; background-size: cover;">
    <div style="position: absolute; left: 36%; top: 50%; font-size: 30px; font-weight: 700px; color: white; font-family: 'Yeseva One', cursive;">Government Hospitals</div>
        </div><br>

    <div class="container">
      <div class="row align-items-start" >
        <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
          Jaya Arogya Hospital
        </div>
        </div>
        
        <div class="row align-items-start" style="padding-top: 5px;">
          <div class="col">
            Jaya Arogya Hospital also known as JAH was built during the period of Late Madhav Rao Scindia and was inaugurated formally in 1899.  
            A total of 400 beds were available in 1946, in the main building, In the main building of the hospital Medical & Surgical wing for male and female patients separately on either side of the hospital on the ground and first floor. 
            The second floor was used for ophthalmic ward and a museum. This main hospital building of this erstwhile service hospital accommodated the pathology section on the ground floor. 
            A separate building building provided for about fifty maternity beds. <br>
            A radio surgical block was sanctioned in 1936 as an Annex to the main building this block accommodated the Radiology Department on the ground floor and the first floor provided an independent operation theatre complex. The pathology division was shifted to the college building after 1948. An OPD for 1500 patients were made in to separate building called Madhav Dispensary.
            The nursed training school already existed and the staff was accommodated in a special nurses hostel.
        </div>
        </div>
        
        <div class="row align-items-start">
          <div class="col" style="height: 60vh;">
            <img src="../resources/img/Jaya_Rogya.jpg" class="img-fluid" width="100%" alt="Responsive image">
          </div>

          <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
            <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
            <span>Hazira, Tansen Nagar, Gwalior - 474002</span>
            <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
            <span>+919301107070, +917512350892</span>
            <span style="font-weight: bold; letter-spacing: 1px;">Hospital Timming:</span>
            <span> 
              <table>
                <tr>
                  <td>Monday:&nbsp;&nbsp;</td>
                  <td>8 am–1 pm, 5–6 pm</td>
                </tr> <tr>
                  <td>Tuesday:&nbsp;&nbsp;</td>
                  <td>8 am–1 pm, 5–6 pm</td>
                </tr> <tr>
                  <td>Wednesday:&nbsp;&nbsp;</td>
                  <td>8 am–1 pm, 5–6 pm</td>
                </tr> <tr>
                  <td>Thursday:&nbsp;&nbsp;</td>
                  <td>8 am–1 pm, 5–6 pm</td>
                </tr> <tr>
                  <td>Friday:&nbsp;&nbsp;</td>
                  <td>8 am–1 pm, 5–6 pm</td>
                </tr> <tr>
                  <td>Saturday:&nbsp;&nbsp;</td>
                  <td>8 am–1 pm, 5–6 pm</td>
                </tr> <tr>
                  <td>Sunday:&nbsp;&nbsp;</td>
                  <td>Closed</td>
                </tr>
              </table></span>
           
    
          </div>
          </div>

        
      <br><br>


      <div class="container">
        <div class="row align-items-start" >
          <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
            Madhavrao District Hospital
          </div>
          </div>
          
          <div class="row align-items-start" style="padding-top: 5px;">
            <div class="col">
              Madhavrao District Hospital in Morar, Gwalior is a top player in the category Public Hospitals in the Gwalior. 
              This well-known establishment acts as a one-stop destination servicing customers both local and from other parts of Gwalior. 
              Over the course of its journey, this business has established a firm foothold in it's industry. 
              The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, which continues to grow by the day. 
              This business employs individuals that are dedicated towards their respective roles and put in a lot of effort to achieve the common vision and larger goals of the company. 
              In the near future, this business aims to expand its line of products and services and cater to a larger client base. 
              In Gwalior, this establishment occupies a prominent location in Morar. It is an effortless task in commuting to this establishment as there are various modes of transport readily available. 
              It is known to provide top service in the following categories: Hospitals, Public Hospitals.
          </div>
          </div>
          
          <div class="row align-items-start">
            <div class="col" style="height: 60vh;">
              <img src="../resources/img/morar_hospital.jpg" class="img-fluid" width="100%" alt="Responsive image">
            </div>
  
            <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
              <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
              <span>Hazira, Tansen Nagar, Gwalior - 474002</span>
              <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
              <span>+919301107070, +917512350892</span>
              <span style="font-weight: bold; letter-spacing: 1px;">Hospital Timming:</span>
              <span> 
                <table>
                  <tr>
                    <td>Monday:&nbsp;&nbsp;</td>
                    <td>8 am–1 pm, 5–6 pm</td>
                  </tr> <tr>
                    <td>Tuesday:&nbsp;&nbsp;</td>
                    <td>8 am–1 pm, 5–6 pm</td>
                  </tr> <tr>
                    <td>Wednesday:&nbsp;&nbsp;</td>
                    <td>8 am–1 pm, 5–6 pm</td>
                  </tr> <tr>
                    <td>Thursday:&nbsp;&nbsp;</td>
                    <td>8 am–1 pm, 5–6 pm</td>
                  </tr> <tr>
                    <td>Friday:&nbsp;&nbsp;</td>
                    <td>8 am–1 pm, 5–6 pm</td>
                  </tr> <tr>
                    <td>Saturday:&nbsp;&nbsp;</td>
                    <td>8 am–1 pm, 5–6 pm</td>
                  </tr> <tr>
                    <td>Sunday:&nbsp;&nbsp;</td>
                    <td>Closed</td>
                  </tr>
                </table></span>
             
      
            </div>
            </div> 
        </div> 
  


        <br><br>


        <div class="container">
          <div class="row align-items-start" >
            <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
              Government Civil Hospital
            </div>
            </div>
            
            <div class="row align-items-start" style="padding-top: 5px;">
              <div class="col">
                Government Civil Hospital listed under Hospitals in Tansen Nagar, Gwalior. Check Visiting Time, Fees, Address, Contact Number, Ratings & Reviews, Photos, Maps etc, on Justdial.

                Healthcare is something that can't be compromised, can it? Hospitals have a huge role to play in developing the healthcare system of any country because, with a growing population, the healthcare demands too are growing and evolving. Providing the highest standard of care for both, minor and major health issues, hospitals create a safe space for the patients by offering end-to-end clinical, surgical, and diagnostic services.
                
                Hospitals have been making healthcare accessible to one and all and Government Civil Hospital in Tansen Nagar, Gwalior is one such reliable hospital that is committed to providing expert medical care. Having established a firm presence as a trusted name in Hospitals, it is renowned for offering specialised services and treatments
                
                Location and overview
                
                Government Civil Hospital in Tansen Nagar, Gwalior is one of the most renowned Hospitals in the area. Countless locals in Tansen Nagar have placed immense trust in the practitioner over the years. Government Civil Hospital is situated at Tansen Nagar-474002 which is easily accessible through various modes of transport.            </div>
            </div>
            
            <div class="row align-items-start">
              <div class="col" >
                <img src="../resources/img/civil_hospital.jpg" class="img-fluid" width="100%" alt="Responsive image">
              </div>

              <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
                <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
                <span>Hazira, Tansen Nagar, Gwalior - 474002</span>
                <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
                <span>+919301107070, +917512350892</span>
                <span style="font-weight: bold; letter-spacing: 1px;">Hospital Timming:</span>
                
               
                  <table>
                    <tr>
                      <td>Monday:&nbsp;&nbsp;</td>
                      <td>8 am–1 pm, 5–6 pm</td>
                    </tr> <tr>
                      <td>Tuesday:&nbsp;&nbsp;</td>
                      <td>8 am–1 pm, 5–6 pm</td>
                    </tr> <tr>
                      <td>Wednesday:&nbsp;&nbsp;</td>
                      <td>8 am–1 pm, 5–6 pm</td>
                    </tr> <tr>
                      <td>Thursday:&nbsp;&nbsp;</td>
                      <td>8 am–1 pm, 5–6 pm</td>
                    </tr> <tr>
                      <td>Friday:&nbsp;&nbsp;</td>
                      <td>8 am–1 pm, 5–6 pm</td>
                    </tr> <tr>
                      <td>Saturday:&nbsp;&nbsp;</td>
                      <td>8 am–1 pm, 5–6 pm</td>
                    </tr> <tr>
                      <td>Sunday:&nbsp;&nbsp;</td>
                      <td>Closed</td>
                    </tr>
                  </table> </div></div>


            
            </div> 
          </div> 
       
  
  
  
  






<%- include ("../include/inc-footer") %>
</body>
</html>




<!-- <div class="content-col" style="padding-left: 10px;">
  <h2 class="text-color">CONTACTS</h2>
  <div class="line"></div>
 </div><br>


<table class="table">
<thead class="thead-dark" style="background-color:#444444; color: white; font-size: 22px;">
<tr>
  <th scope="col">State</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
</tr>
</thead>
<thead class="thead-dark" style="background-color: #dddddd; color: black; font-size: 16px;">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Landline No.</th>
    <th scope="col">Address</th>
  </tr>
</thead>
<tbody>
<tr>
  <th scope="row">Gwalior Development Authority</th>
  <td>Chief Executive Officer</td>
  <td>751-2445536</td>
  <td>Khedapati Colony Gwalior</td>
</tr>
<tr>
  <th scope="row">Cooperative</th>
  <td>Registrar</td>
  <td>751-2420690</td>
  <td>Gwalior</td>
</tr>
<tr>
  <th scope="row">Forest</th>
  <td>Chief Conservator</td>
  <td>751-2340050</td>
  <td>Behind Roop Singh Stadium Gwalior</td>
</tr>
<tr>
  <th scope="row">District Employment Exchange</th>
  <td>Employment Officer</td>
  <td>751-2421641</td>
  <td>Moti Mahal Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Health Engineering Department</th>
  <td>Chief Engineer</td>
  <td>751-2365436</td>
  <td>Morar Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Works Department</th>
  <td>Chief Engineer</td>
  <td>	751-2340932</td>
  <td>Darpan Colony Thatipur Gwalior</td>
</tr>
</tbody>
</table> -->
