<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> MY TOWN GWALIOR </title>
    <!-- Adding incliude page-->
    <%- include ("../include/inc-top") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css" integrity="sha512-WidMaWaNmZqjk3gDE6KBFCoDpBz9stTsTZZTeocfq/eDNkLfpakEd7qR0bPejvy/x0iT0dvzIq4IirnBtVer5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
<body>
    <%- include ("../include/inc-nav") %><br><br><br><br><br>
    <div style="width: 100%; position: relative; height: 40vh; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(../resources/img/hospital_img.jpg); background-repeat: no-repeat; background-size: cover;">
    <div style="position: absolute; left: 36%; top: 50%; font-size: 30px; font-weight: 700px; color: white; font-family: 'Yeseva One', cursive;">Non-Government Hospitals</div>
        </div><br>

    <div class="container">
      <div class="row align-items-start" >
        <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
          Apollo Spectra Hospitals
        </div>
        </div>
        
        <div class="row align-items-start" style="padding-top: 5px;">
          <div class="col">
            Apollo Spectra Hospitals, the Specialist in Minimally Invasive Surgeries has joined hands with 
            Ratan Jyoti Netralaya, a renowned Eye hospital to set up unarguably the most advanced specialty hospital in Gwalior. Through the partnership with RJN, what Apollo Spectra brings to Gwalior is 
            a legacy of over 30 years of experience in healthcare, including much pioneering clinical work. 
            As a specialty hospital, RJN Apollo Spectra Hospitals gives your patient the advantage of expert and quality healthcare with all the benefits of a large hospital but in a friendlier, more accessible facility. Advanced technologies, world-class infrastructure and the best of doctors come together to deliver personalized care enabling faster recovery with near-zero infection risk.More importantly, we are impaneled with all major TPAs for cashless hospitalization facility and our insurance approved surgical packages are known for transparency and simplicity.</div>
        </div>
        
        <div class="row align-items-start">
          <div class="col" style="height: 60vh;">
            <img src="../resources/img/apollo.jpg" class="img-fluid" width="100%" alt="Responsive image">
          </div>

          <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
            <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
            <span>18, Kila Gate Road, Vikas Nagar, Near Sai Baba Mandir,<br><center>Gwalior, Madhya Pradesh 474002</center> </span>
            <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
            <span>+0751 2454600</span>
            <span style="font-weight: bold; letter-spacing: 1px;">Hospital Timming:</span>
            <div><span> 
              <table>
                <tr>
                  <td>Monday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr> <tr>
                  <td>Tuesday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr> <tr>
                  <td>Wednesday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr> <tr>
                  <td>Thursday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr> <tr>
                  <td>Friday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr> <tr>
                  <td>Saturday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr> <tr>
                  <td>Sunday:&nbsp;&nbsp;</td>
                  <td>Open 24 hours</td>
                </tr>
              </table></span>
           
    </div>
          </div>
          </div>

        
      <br><br>


      <div class="container">
        <div class="row align-items-start" >
          <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
            PARIVAR SUPER SPECIALITY HOSPITAL AND RESEARCH CENTRE
          </div>
          </div>
          
          <div class="row align-items-start" style="padding-top: 5px;">
            <div class="col">
              Parivar Super speciality Hospital & Research Centre, Gwalior is one of the leading healthcare provider in this territory. It offers its services to patients whose medical needs can be met within the capability of the Hospital’s staff and facilities. The hospital is approached by one and all with confidence for ethical, affordable, reliable and quality health care services. The true measures of quality for a hospital are the outcomes that matter to patients. Measuring the outcomes for healthcare services delivery is one of the most important functions for a quality conscious and value focussed organisation. These outcome measures help to monitor quality of patient care and clinical processes within the organization. Outcome’s data gives you information on how well a hospital provided care for most of its patients. When outcomes are measured and published, it fosters improvement and helps healthcare organizations adopt best practices. Publishing outcomes indicates a true commitment to an environment of constant improvement and transparency.
          </div>
          </div>
          
          <div class="row align-items-start">
            <div class="col" style="height: 60vh;">
              <img src="../resources/img/parivar.jpg" class="img-fluid" width="100%" alt="Responsive image">
            </div>
  
            <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
              <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
              <center><span> Cancer Hospital Road near MANDRE WALI MATA DUSSERA GARDEN,<br> Gwalior, Madhya Pradesh 474009</span></center>
              <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
              <span>+095849 56700</span>
              <span style="font-weight: bold; letter-spacing: 1px;">Hospital Timming:</span>
              <span> 
                <table>
                  <tr>
                    <td>Monday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr> <tr>
                    <td>Tuesday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr> <tr>
                    <td>Wednesday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr> <tr>
                    <td>Thursday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr> <tr>
                    <td>Friday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr> <tr>
                    <td>Saturday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr> <tr>
                    <td>Sunday:&nbsp;&nbsp;</td>
                    <td>Open 24 hours</td>
                  </tr>
                </table></span>
             
      
            </div>
            </div> 
        </div> 
  


        <br><br>


        <div class="container">
          <div class="row align-items-start" >
            <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
              Chirayu multispeciality hospital
            </div>
            </div>
            
            <div class="row align-items-start" style="padding-top: 5px;">
              <div class="col">
                Government Civil Hospital listed under Hospitals in Tansen Nagar, Gwalior. Check Visiting Time, Fees, Address, Contact Number, Ratings & Reviews, Photos, Maps etc, on Justdial.

                Healthcare is something that can't be compromised, can it? Hospitals have a huge role to play in developing the healthcare system of any country because, with a growing population, the healthcare demands too are growing and evolving. Providing the highest standard of care for both, minor and major health issues, hospitals create a safe space for the patients by offering end-to-end clinical, surgical, and diagnostic services.
                
                Hospitals have been making healthcare accessible to one and all and Government Civil Hospital in Tansen Nagar, Gwalior is one such reliable hospital that is committed to providing expert medical care. Having established a firm presence as a trusted name in Hospitals, it is renowned for offering specialised services and treatments
                
                Location and overview
                
                Government Civil Hospital in Tansen Nagar, Gwalior is one of the most renowned Hospitals in the area. Countless locals in Tansen Nagar have placed immense trust in the practitioner over the years. Government Civil Hospital is situated at Tansen Nagar-474002 which is easily accessible through various modes of transport.            </div>
            </div>
            
            <div class="row align-items-start">
              <div class="col" >
                <img src="../resources/img/chirayu.jpg" class="img-fluid" width="100%" alt="Responsive image">
              </div>

              <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
                <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
                <center>
                  <span>245, Kailash Vihar Main Road
                    City Center, Tulsi Vihar Colony
                    <br>Gwalior, Madhya Pradesh 474011
                    India</span>
                  </center>
                <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
                <span>091745 19698</span>
                <span style="font-weight: bold; letter-spacing: 1px;">Hospital Timming:</span>
                
               
                  <table>
                    <tr>
                      <td>Monday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr> <tr>
                      <td>Tuesday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr> <tr>
                      <td>Wednesday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr> <tr>
                      <td>Thursday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr> <tr>
                      <td>Friday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr> <tr>
                      <td>Saturday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr> <tr>
                      <td>Sunday:&nbsp;&nbsp;</td>
                      <td>Open 24 hours</td>
                    </tr>
                  </table> </div></div>


            
            </div> 
          </div> 
       
  
  
  
  






<%- include ("../include/inc-footer") %>
</body>
</html>




<!-- <div class="content-col" style="padding-left: 10px;">
  <h2 class="text-color">CONTACTS</h2>
  <div class="line"></div>
 </div><br>


<table class="table">
<thead class="thead-dark" style="background-color:#444444; color: white; font-size: 22px;">
<tr>
  <th scope="col">State</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
</tr>
</thead>
<thead class="thead-dark" style="background-color: #dddddd; color: black; font-size: 16px;">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Landline No.</th>
    <th scope="col">Address</th>
  </tr>
</thead>
<tbody>
<tr>
  <th scope="row">Gwalior Development Authority</th>
  <td>Chief Executive Officer</td>
  <td>751-2445536</td>
  <td>Khedapati Colony Gwalior</td>
</tr>
<tr>
  <th scope="row">Cooperative</th>
  <td>Registrar</td>
  <td>751-2420690</td>
  <td>Gwalior</td>
</tr>
<tr>
  <th scope="row">Forest</th>
  <td>Chief Conservator</td>
  <td>751-2340050</td>
  <td>Behind Roop Singh Stadium Gwalior</td>
</tr>
<tr>
  <th scope="row">District Employment Exchange</th>
  <td>Employment Officer</td>
  <td>751-2421641</td>
  <td>Moti Mahal Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Health Engineering Department</th>
  <td>Chief Engineer</td>
  <td>751-2365436</td>
  <td>Morar Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Works Department</th>
  <td>Chief Engineer</td>
  <td>	751-2340932</td>
  <td>Darpan Colony Thatipur Gwalior</td>
</tr>
</tbody>
</table> -->
