<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> MY TOWN GWALIOR </title>
    <!-- Adding incliude page-->
    <%- include ("../include/inc-top") %>

  </head>

<body>
    <%- include ("../include/inc-nav") %><br><br><br><br><br>
    <div style="width: 100%; position: relative; height: 40vh; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(../resources/img/education.jpg); background-repeat: no-repeat; background-size: cover;">
    <div style="position: absolute; left: 36%; top: 50%; font-size: 30px; font-weight: 700px; color: white; font-family: 'Yeseva One', cursive;">Government Education</div>
        </div><br>


        <div class="container">
          <div class="row align-items-start" >
            <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
              Jiwaji University,Gwalior (M.P.)
  
            </div>
            </div>
            
            <div class="row align-items-start" style="padding-top: 5px;">
              <div class="col">
                Jiwaji University (JU) is a NAAC A++ public affiliating university in Gwalior, Madhya Pradesh, India. The name comes from Jivajirao Scindia of Gwalior. The university was established on 23 May 1964 and Sarvepalli Radhakrishnan, the President of India, laid the foundation stone of the campus on 11 December 1964. It is fully accredited by the Government of India.
            </div>
            </div>
            
            <div class="row align-items-start">
              <div class="col" style="height: 60vh;">
                <img src="../resources/img/jiwaji.jpg" class="img-fluid" width="100%" alt="Responsive image">
              </div>
    
              <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" >
                <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
                <center>
                  <span>  Sachin Tendulkar Rd, Kailash Nagar, Mahalgaon,<br> Gwalior, Madhya Pradesh 474001</span>
                </center>
                <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
                <span>+0751 244 2712</span>
                <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
                <span> 
                  <table>
                    <tr>
                      <td>Monday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Tuesday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Wednesday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Thursday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Friday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Saturday:&nbsp;&nbsp;</td>
                      <td>Closed</td>
                    </tr> <tr>
                      <td>Sunday:&nbsp;&nbsp;</td>
                      <td>Closed</td>
                    </tr>
                  </table></span>
               
        
              </div>
              </div> 
          </div> 
    
  
  
          <br><br>
  
  


    <div class="container">
      <div class="row align-items-start" >
        <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
          Rajmata Vijayaraje Scindia Krishi Vishwavidyalaya
        </div>
        </div>
        
        <div class="row align-items-start" style="padding-top: 5px;">
          <div class="col">
            The Rajmata Vijayaraje Scindia Krishi Vishwavidyalaya, Gwalior was established by Government of Madhya Pradesh Vide Ordinance No. 4 of 2008 notified in the Extraordinary Gazette No. 507 dated 19th August 2008 as second Agricultural University by bifurcating the JNKVV, Jabalpur. 
            As per RVSKVV act (No. 4, year 2009), the horticulture and veterinary science & animal husbandry. 
            The research activities are operated through five Zonal Agricultural Research Stations (Morena, Khargone, Jhabua, Indore and Sehore); four Regional Agricultural Research Stations (Gwalior, Mandsaur, Ujjain and Khandwa) and 4 special research stations (Entkhedi, Bagwai, Jaora and Badwah) having 22 All India Coordinated Research Projects and several adhoc projects to enhance the productivity and profitability of agriculture system. 
            Transfer of technology is the part of extension activities carried out by 21 Krishi Vigyan Kendras.
        </div>
        </div>
        
        <div class="row align-items-start">
          <div class="col" style="height: 60vh;">
            <img src="../resources/img/rajmata.jpg" class="img-fluid" width="100%" alt="Responsive image">
          </div>
          

          <div class="col shadow p-3 mb-5 bg-body-tertiary rounded"  >
            <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
            <center>
              <span>Raja Pancham Singh Marg, Near Akashwani, Gwalior, (M.P.)
              </span>
              </center>
            <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
            <span>+751-2341469</span>
            <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
            <span> 
              <table>
                <tr>
                  <td>Monday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Tuesday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Wednesday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Thursday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Friday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Saturday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Sunday:&nbsp;&nbsp;</td>
                  <td>Closed</td>
                </tr>
              </table></span>
           
    
          </div>
          </div>

        
      <br><br>


      <div class="container">
        <div class="row align-items-start" >
          <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
            Maharani Laxmibai Arts and Commerce College Gwalior(A Govt College of Excellence)

          </div>
          </div>
          
          <div class="row align-items-start" style="padding-top: 5px;">
            <div class="col">
              Maharani Laxmi Bai Govt. College of Excellence, Gwalior is one of the most prestigious Educational Institution of Northern India. Over a century old history of this great institution marks the various stages of its development and spread of higher education in Gwalior. 
              The rulers of erstwhile Scindia state rendered a yeoman???s service by establishing this college in 1846 as Lashkar Madarsa. It was renamed in 1887 as ???Victoria College??? to mark the celebrations of Golden Jubilee of Queen Victoria. 
              In 1957 its name was changed to ???Maharani Laxmi Bai Arts and Commerce College??? in the memory of that great, valiant and immortal freedom fighter, the Maharani Laxmi Bai of Jhansi who laid down her life on the sacred soil of Gwalior. In the year 1961, the Science departments were separated from this college and it was named as Maharani Laxmi Bai Arts & Commerce College.
          </div>
          </div>
          
          <div class="row align-items-start">
            <div class="col" style="height: 60vh;">
              <img src="../resources/img/laxmibai.jpg" class="img-fluid" width="100%" alt="Responsive image">
            </div>
  
            <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" >
              <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
              <center>
                <span> 55W7+RCX, Lalitpur Colony, Lashkar,<br> Gwalior, Madhya Pradesh 474009</span>
              </center>
              <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
              <span>+0751 237 2199</span>
              <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
              <span> 
                <table>
                  <tr>
                    <td>Monday:&nbsp;&nbsp;</td>
                    <td>9 am–5 pm</td>
                  </tr> <tr>
                    <td>Tuesday:&nbsp;&nbsp;</td>
                    <td>9 am–5 pm</td>
                  </tr> <tr>
                    <td>Wednesday:&nbsp;&nbsp;</td>
                    <td>9 am–5 pm</td>
                  </tr> <tr>
                    <td>Thursday:&nbsp;&nbsp;</td>
                    <td>9 am–5 pm</td>
                  </tr> <tr>
                    <td>Friday:&nbsp;&nbsp;</td>
                    <td>9 am–5 pm</td>
                  </tr> <tr>
                    <td>Saturday:&nbsp;&nbsp;</td>
                    <td>9 am–5 pm</td>
                  </tr> <tr>
                    <td>Sunday:&nbsp;&nbsp;</td>
                    <td>Closed</td>
                  </tr>
                </table></span>
             
      
            </div>
            </div> 
        </div> 
  


        <br><br>


        <div class="container">
          <div class="row align-items-start" >
            <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
              Gajara Raja Medical College
            </div>
            </div>
            
            <div class="row align-items-start" >
              <div class="col">
                "Established in 1946, Gajra Raja Medical College, Gwalior, is the 17th Medical College of India and the first in the state of M.P. Presently It admits 200 students for MBBS, 162 students for post graduation Degree Courses every year. Jaya Arogya Group of Hospitals is the affiliated teaching hospital and has about 1100 beds equipped with all modern facilities. The college is governed by G R Medical College Society under the Department of Medical Education, Government of Madhya Pradesh. It is affiliated to Jiwaji University, Gwalior, Madhya Pradesh Medical Science University, Jabalpur and recognized by the Medical Council of India. The affiliated teaching Jay Arogya Hospital was founded in 1893. Dr Bhagwat Sahai was the Medical Superintendent"</div>
            </div>
            
            <div class="row align-items-start">
              <div class="col" >
                <img src="../resources/img/gajraja.jpg" class="img-fluid" width="100%" alt="Responsive image">
              </div>

              <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
                <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
                <center>
                  <span>Veer Savarkar Marg, Yadav Colony, Lashkar,<br> Gwalior, Madhya Pradesh 474009</span>
                
                </center>
                <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
                <span>+919301107070, +917512350892</span>
                <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
                
               
                  <table>
                    <tr>
                      <td>Monday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Tuesday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Wednesday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Thursday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Friday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Saturday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Sunday:&nbsp;&nbsp;</td>
                      <td>Closed</td>
                    </tr>
                  </table> </div></div>


            
            </div> 
          </div> 
       
  
  
  
  






<%- include ("../include/inc-footer") %>
</body>
</html>




<!-- <div class="content-col" style="padding-left: 10px;">
  <h2 class="text-color">CONTACTS</h2>
  <div class="line"></div>
 </div><br>


<table class="table">
<thead class="thead-dark" style="background-color:#444444; color: white; font-size: 22px;">
<tr>
  <th scope="col">State</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
</tr>
</thead>
<thead class="thead-dark" style="background-color: #dddddd; color: black; font-size: 16px;">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Landline No.</th>
    <th scope="col">Address</th>
  </tr>
</thead>
<tbody>
<tr>
  <th scope="row">Gwalior Development Authority</th>
  <td>Chief Executive Officer</td>
  <td>751-2445536</td>
  <td>Khedapati Colony Gwalior</td>
</tr>
<tr>
  <th scope="row">Cooperative</th>
  <td>Registrar</td>
  <td>751-2420690</td>
  <td>Gwalior</td>
</tr>
<tr>
  <th scope="row">Forest</th>
  <td>Chief Conservator</td>
  <td>751-2340050</td>
  <td>Behind Roop Singh Stadium Gwalior</td>
</tr>
<tr>
  <th scope="row">District Employment Exchange</th>
  <td>Employment Officer</td>
  <td>751-2421641</td>
  <td>Moti Mahal Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Health Engineering Department</th>
  <td>Chief Engineer</td>
  <td>751-2365436</td>
  <td>Morar Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Works Department</th>
  <td>Chief Engineer</td>
  <td>	751-2340932</td>
  <td>Darpan Colony Thatipur Gwalior</td>
</tr>
</tbody>
</table> -->
