<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> MY TOWN GWALIOR </title>
    <!-- Adding incliude page-->
    <%- include ("../include/inc-top") %>

  </head>

<body>
    <%- include ("../include/inc-nav") %><br><br><br><br><br>
    <div style="width: 100%; position: relative; height: 40vh; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(../resources/img/education.jpg); background-repeat: no-repeat; background-size: cover;">
    <div style="position: absolute; left: 36%; top: 50%; font-size: 30px; font-weight: 700px; color: white; font-family: 'Yeseva One', cursive;">Non-Government Education</div>
        </div><br>

    <div class="container">
      <div class="row align-items-start" >
        <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
            Madhav Institute of Technology and Science, Gwalior
        </div>
        </div>
        
        <div class="row align-items-start" style="padding-top: 5px;">
          <div class="col">
            Madhav Institute of Technology & Science (MITS), Gwalior was established in 1957 by His Highness Sir Jiwaji Rao Scindia, Maharaja, of the erstwhile state of Gwalior under open door policy of Govt. of India. The foundation stone of the institute was laid by the then President Dr. Rajendra Prasad, on 20th October, 1956 and the building was inaugurated by President Dr. S. Radhakrishnan on 11th December, 1964. On the occasion of Golden Jubilee Celebrations of the institute, the president of India, Dr. Pratibha Devi Singh Patil graced the Golden Jubilee Celebrations of the institute as Chief Guest on 30th June, 2008. A postal stamp on MITS was also released on this occasion.
        </div>
        </div>
        
        <div class="row align-items-start">
          <div class="col" style="height: 60vh;">
            <img src="../resources/img/mits.jpg" class="img-fluid" width="100%" alt="Responsive image">
          </div>

          <div class="col shadow p-3 mb-5 bg-body-tertiary rounded"  >
            <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
            <center>
              <span>Racecourse Rd, near Gola ka Mandir, Mela Ground, Thatipur,<br> Gwalior, Madhya Pradesh 474005              </span>
              </center>
            <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
            <span>0751-240-9354 , 0751-240-9300</span>
            <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
            <span> 
              <table>
                <tr>
                  <td>Monday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Tuesday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Wednesday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Thursday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Friday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Saturday:&nbsp;&nbsp;</td>
                  <td>10 am–5 pm</td>
                </tr> <tr>
                  <td>Sunday:&nbsp;&nbsp;</td>
                  <td>Closed</td>
                </tr>
              </table></span>
           
    
          </div>
          </div>

        
      <br><br>


      <div class="container">
        <div class="row align-items-start" >
          <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
            Amity University, Gwalior
          </div>
          </div>
          
          <div class="row align-items-start" style="padding-top: 5px;">
            <div class="col">
                Amity University Madhya Pradesh has been established by the Ritnand Balved Education Foundation (RBEF), New Delhi which is a society registered under the Societies Registration Act, 1860. It was established with the view to promote professional, industry-oriented education in the state of Madhya Pradesh.
                Amity University Madhya Pradesh located on 100 acres of land opposite Gwalior Airport, impart modern, practical and research-based courses which will lead to the development of manpower which is employable and ready for industry. This in turn will drive the socio-economic upliftment of the region.
          </div>
          </div>
          
          <div class="row align-items-start">
            <div class="col" style="height: 60vh;">
              <img src="../resources/img/amity.png" class="img-fluid" width="100%" alt="Responsive image">
            </div>
  
            <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" >
              <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
              <center>
                <span> Opposite Airport, Maharajpura,<br> Gwalior, Madhya Pradesh 474005</span>
              </center>
              <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
              <span>091091 40391</span>
              <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
              <span> 
                <table>
                  <tr>
                    <td>Monday:&nbsp;&nbsp;</td>
                    <td>9:30 am–7:00 pm</td>
                  </tr> <tr>
                    <td>Tuesday:&nbsp;&nbsp;</td>
                    <td>9:30 am–7:00 pm</td>
                  </tr> <tr>
                    <td>Wednesday:&nbsp;&nbsp;</td>
                    <td>9:30 am–7:00 pm</td>
                  </tr> <tr>
                    <td>Thursday:&nbsp;&nbsp;</td>
                    <td>9:30 am–7:00 pm</td>
                  </tr> <tr>
                    <td>Friday:&nbsp;&nbsp;</td>
                    <td>9:30 am–7:00 pm</td>
                  </tr> <tr>
                    <td>Saturday:&nbsp;&nbsp;</td>
                    <td>9:30 am–7:00 pm</td>
                  </tr> <tr>
                    <td>Sunday:&nbsp;&nbsp;</td>
                    <td>Closed</td>
                  </tr>
                </table></span>
             
      
            </div>
            </div> 
        </div> 
  


        <br><br>


        <div class="container">
          <div class="row align-items-start" >
            <div class="col" style="font-size: 34px;  font-family: 'Cinzel', serif;">
                ITM University, Gwalior 
            </div>
            </div>
            
            <div class="row align-items-start" >
              <div class="col">
                ITM University is a multidisciplinary private university based in Gwalior, India. The subjects are offered in the field of sciences, engineering, management, fine arts, social sciences, arts, and nursing. It was established under the Act of State Legislature Madhya Pradesh and is notified in the Official Gazette (extraordinary) of the State Government. ITM University came into the limelight when Jammu and Kashmir's Deputy Governor (LG) Manoj Sinha attended a lecture program at ITM University Gwalior on March 24, 2023, calling "Father of the Nation Mahatma Gandhi" an uneducated and uneducated advocate in a stage speech. Said, Mahatma Gandhi's great-grandson Tushar Gandhi has sent a legal notice to Manoj Sinha on this sad episode, and expressed anger over this episode and said it is sad.</div>
            </div>
            
            <div class="row align-items-start">
              <div class="col" >
                <img src="../resources/img/itmm.png" class="img-fluid" width="100%" alt="Responsive image">
              </div>

              <div class="col shadow p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 10px; height: 60vh;" >
                <span style="font-weight: bold; letter-spacing: 1px;">Address:</span>
                <center>
                  <span>Jhansi Rd, Turari, Gwalior, Madhya Pradesh 474001</span>
                
                </center>
                <span style="font-weight: bold; letter-spacing: 1px;">Contact Details:</span>
                <span>0751-398 1200</span>
                <span style="font-weight: bold; letter-spacing: 1px;">College Timming:</span>
                
               
                  <table>
                    <tr>
                      <td>Monday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Tuesday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Wednesday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Thursday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Friday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Saturday:&nbsp;&nbsp;</td>
                      <td>9 am–5 pm</td>
                    </tr> <tr>
                      <td>Sunday:&nbsp;&nbsp;</td>
                      <td>Closed</td>
                    </tr>
                  </table> </div></div>


            
            </div> 
          </div> 
       
  
  
  
  






<%- include ("../include/inc-footer") %>
</body>
</html>




<!-- <div class="content-col" style="padding-left: 10px;">
  <h2 class="text-color">CONTACTS</h2>
  <div class="line"></div>
 </div><br>


<table class="table">
<thead class="thead-dark" style="background-color:#444444; color: white; font-size: 22px;">
<tr>
  <th scope="col">State</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">&nbsp;</th>
</tr>
</thead>
<thead class="thead-dark" style="background-color: #dddddd; color: black; font-size: 16px;">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col">Landline No.</th>
    <th scope="col">Address</th>
  </tr>
</thead>
<tbody>
<tr>
  <th scope="row">Gwalior Development Authority</th>
  <td>Chief Executive Officer</td>
  <td>751-2445536</td>
  <td>Khedapati Colony Gwalior</td>
</tr>
<tr>
  <th scope="row">Cooperative</th>
  <td>Registrar</td>
  <td>751-2420690</td>
  <td>Gwalior</td>
</tr>
<tr>
  <th scope="row">Forest</th>
  <td>Chief Conservator</td>
  <td>751-2340050</td>
  <td>Behind Roop Singh Stadium Gwalior</td>
</tr>
<tr>
  <th scope="row">District Employment Exchange</th>
  <td>Employment Officer</td>
  <td>751-2421641</td>
  <td>Moti Mahal Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Health Engineering Department</th>
  <td>Chief Engineer</td>
  <td>751-2365436</td>
  <td>Morar Gwalior</td>
</tr>
<tr>
  <th scope="row">Public Works Department</th>
  <td>Chief Engineer</td>
  <td>	751-2340932</td>
  <td>Darpan Colony Thatipur Gwalior</td>
</tr>
</tbody>
</table> -->
