<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid">

   

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">MY TOWN GWALIOR</p>

  

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
      <li class="nav-item"><a href="/login" class="nav-link px-2 text-muted">Login</a></li>
     
    </ul>
  </footer>
 
  
  </div>
  <!-- End of .container -->
   <!-- Bootstrap core JavaScript -->

    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/resources/js/myTown.js"></script>