<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> MY TOWN GWALIOR </title>
    <!-- Adding incliude page-->
    <%- include ("../include/inc-top") %>

  </head>

<body>
    <%- include ("../include/inc-nav") %><br><br><br><br><br>
    
<div>

  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;  ">
    <div class="card-body">
      <p class="card-text" style="font-size: 20px; font-weight: bold;"><font color="red">01.</font> Gwalior Fort</p>
    </div>
    <img class="card-img-top" src="../resources/img/newgwl.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="text-align: justify; font-size: 15px;">Perched atop a rocky mountain in Madhya Pradesh, this phenomenal fortress was impenetrable during attacks. The fortress has witnessed many historical events and it is proudly stated as the “pearl amongst the fortresses in India."</p>
    </div>
    <div>
      <center><p><b> Entry Fee: </b> 8 AM to 5:30 PM on all days of the week.</p></center>  
      <center><p><b>Timing:</b> 8 AM to 5:30 PM on all days of the week.</p></center>  
     </div>
  </div> <br><br>
  
  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;">
    <div class="card-body">
      <p class="card-text" style="font-size: 20px;  font-weight: bold;"><font color="red">02.</font> Saas Bahu Temple</p>
    </div>
    <img class="card-img-top" src="../resources/img/saasbahu.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">This temple was originally named as Sahastrabahu Temple which is another name for Lord Vishnu with many hands. By gradual mispronunciation in the course of time, it got famous as Saas Bahu Temple.</p>
    </div>
    <div>
      <center><p><b> Entry Fee: </b>Free of charge.</p></center>  
      <center><p><b>Timing:</b> 8 AM to 5 PM on all days of the week.</p></center>  
     </div>
  </div> 
</div>
    
    
<div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px; font-weight: bold;"><font color="red">03.</font> Jai Vilas Palace</p>
  </div>
  <img class="card-img-top" src="../resources/img/jaivilas.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">If you are interested in witnessing the armors from the era of Shah Jahan and Aurangzeb to the freedom movement during the reign of Rani Laxmi Bai, then head to Jai Vilas Palace. This well-preserved palatial monument was built by Jayaji Rao Scindia who was once the Maharaja of Gwalior.</p>
  </div>
  <div>
    <center><p><b> Entry Fee: </b>INR 100 per person (Indian).</p></center>  
    <center><p><b>Timing:</b>10 AM to 4:45 PM (April to September) and 10 AM to 4:30 PM (October to March) on all days of the week except Wednesday.</p></center>  
   </div>
</div> 
</div>
   
    
    
<div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px; font-weight: bold;"><font color="red">04.</font>Gopachal Parvat</p>
  </div>
  <img class="card-img-top" src="../resources/img/gopanchal.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">If you are interested in witnessing the armors from the era of Shah Jahan and Aurangzeb to the freedom movement during the reign of Rani Laxmi Bai, then head to Jai Vilas Palace. This well-preserved palatial monument was built by Jayaji Rao Scindia who was once the Maharaja of Gwalior.</p>
  </div>
  <div>
    <center><p><b> Entry Fee: </b>Free of cost.</p></center>  
    <center><p><b>Timing:</b>24 hours open for visitors.</p></center>  
   </div>
</div> 
</div>


    
<div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px; font-weight: bold;"><font color="red">05.</font>Padavali and Bateshwar</p>
  </div>
  <img class="card-img-top" src="../resources/img/bateswar.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Bateshwar is a group of temples belonging to the 8th and 10th centuries whereas Padavali is a fortress that was built in the 18th century. Embark on a short drive to witness these marvels dating to various ages.
  Where Bateshwar has a cluster of around 200 mini temples made of sandstones, Padavali has just one notable temple which is dedicated to Lord Vishnu.</p>
  </div>
  <div>
    <center><p><b> Entry Fee: </b>INR 15 per person.</p></center>  
    <center><p><b>Timing:</b>  9:30 AM to 5:30 PM on all days of the week.</p></center>  
   </div>
</div> 
</div>


    
<div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px; font-weight: bold;"><font color="red">06.</font>Gujari Mahal</p>
  </div>
  <img class="card-img-top" src="../resources/img/gujri.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Gujari Mahal is a perfect example of architectural brilliance which dates back to the 15th century. It was constructed by Raja Man Singh in the premises of Gwalior Fort, making it one of the finest among the six mahals enclosed within the walls of the fort.</p>
  </div>
  <div>
    <center><p><b> Entry Fee: </b> INR 75 per Indian adult and free for children below the age of 15 years.</p></center>  
    <center><p><b> Timing: </b>8 AM to 5:30 PM on all days of the week.</p></center>  
   </div>
</div> 
</div>


    
<div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 54%; margin: auto;">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px; font-weight: bold;"><font color="red">07.</font>Gurudwara Data Bandi Chor Sahib</p>
  </div>
  <img class="card-img-top" src="../resources/img/gurugwara.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">This serene oasis was constructed in the remembrance of the sixth Guru Sant Har Govind Singh. The gurdwara was built in white marble and was ornated in gold. It is believed that the Mughal emperor Jahangir confined Sant Har Govind Singh at this spot; thereby, a Gurudwara was built in his memory.vThis serene oasis was constructed in the remembrance of the sixth Guru Sant Har Govind Singh. The gurdwara was built in white marble and was ornated in gold. It is believed that the Mughal emperor Jahangir confined Sant Har Govind Singh at this spot; thereby, a Gurudwara was built in his memory.</p>
  </div>
  <div>
    <center><p><b> Entry Fee: </b>Free of cost.</p></center>  
    <center><p><b> Timing: </b>10 AM to 10 PM on all days of the week.</p></center>  
   </div>
</div> 
</div>



    <%- include ("../include/inc-footer") %>
      </body>
      </html>
      